<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section class="intro">
    <h1>We design spaces that don't just exist.</h1>
  </section>
  <section class="cards">
    <div class="card">
      <div class="card-wrapper">
        <div class="card-content">
          <div class="card-title">
            <h1>Interior Design</h1>
          </div>
          <div class="card-description">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
            </p>
          </div>
        </div>
        <div class="card-img">
          <img src="/card-img-1.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="outro">
    <h1>Architecture reimagined for the future.</h1>
  </section>
  <script type="module" src="'/marquee.js"></script>
  <script type="module" src="'/script.js"></script>
</body>

</html>